{% extends 'base.html.twig' %}

{% block title %}Hello Tom!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <h1>Welcome to your admin page Tom !</h1>

    <h2>There it is all your beautiful projects :) :</h2>
    <div>
        {% for project in projects %}
            <p>{{ project.name }} 
                <a href="admin/remove/{{ project.id }}"><i class="far fa-trash-alt"></i></i></a>
                <a href="admin/update/{{ project.id }}"><i class="fas fa-pencil-alt"></i></a>
            </p>
        {% endfor %}
    </div>

    <h2>What about adding a new project ?</h2>
    <form action="admin/new" method="post">
        <label for="name">Enter a name</label><input type="text" id="name" name="name">
        <label for="description">Enter a description</label><input type="text" id="description" name="description">
        <label for="link">Enter the web URL</label><input type="text" id="link" name="link">
        <label for="git">Enter the GitHub link</label><input type="text" id="git" name="git">
        <button type="submit">envoyer</button>
    </form>

{% endblock %}